*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(43, 6, 77);
    padding: 50px 0;
    text-align: center;
}
.app-title{
    color: white;
    font-size: 35px;
}
.content{
    background-color: rgb(237, 226, 247);
    padding: 30px 60px;
}
.left{
    width: 30%;
}
.card{
    border: 1px solid rgb(43, 6, 77);
    border-radius: 7px;
    margin-bottom: 20px;
}
.card h2{
    background-color:#eee ;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
}
form{
    padding: 15px;
}
label{
    font-size: 16px;
    display: block;
}
input{
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    font-size: 16px;
    border: 1px solid rgb(43, 6, 77);
    outline: none;
    border-radius: 6px;
}
.btn-el{
    border-radius: 6px;
    width: 100%;
    display: block;
    margin:5px 0 ;
    background-color: rgb(43, 6, 77);
    color: white;
    padding: 7px 0;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn-el:hover{
    background-color:rgb(131, 12, 241) ;
    transition: .3s;
}
#language{
    padding: 10px;
}
.content{
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
   
}
.right{
    width: 68%;
}
.repo-item{
    display: flex;
    background-color:rgb(43, 6, 77) ;
    color: white;
    justify-content: space-between;
    border-radius: 6px;
    font-size: 17px;
    padding: 10px 15px;
    text-decoration: none;
    margin: 7px 0;
}
.repo-item:hover{
    background-color:rgb(131, 12, 241) ;
    transition: .3s;
}